.background-navbar{
    background-color: #473174;
    margin: 0 auto 2% auto;
    position: fixed;
    top:0;
    left:15%;
}
.background-navbar a:hover{
    border-bottom: solid #322350 3px;
    padding-bottom: 3px;
    transition: .2s all;
}
.background-navbar a:first-of-type:hover{
    border-bottom: none;
}