.hop-mania-info{
    border-radius: 20px;
    width:50%;
    margin-bottom: 1%;
}
.hm-info-1{
    background-color: rgba(157, 185, 75, 0.5);
}
.hm-info-2{
    background-color: rgba(69, 200, 255, 0.5);
}
.hop-mania-advantege{
    overflow-x: auto;
    overflow-wrap: break-word;
}
.background-tel{
    background-image: linear-gradient(to right,#A42257,#DF347A);
}
.first-button{
    background: transparent;
    border: 7px solid #9db94b;
    width: 40%;
}
.second-button{
    background: transparent;
    border: 7px solid #fff;
    width: 40%;
}
.first-button:hover{
    cursor: pointer;
    background-color: #9db94b;
    transition: .3s ease-in-out;
}
.second-button:hover{
    cursor: pointer;
    border: 7px solid #45C8FF;
    background-color: #45C8FF;
    transition: .3s ease-in-out;
}
.second-button:hover p{
color: black;
}

@media only screen and (max-width: 810px) {
    .background{
        height: max-content;
    }
    .font-38{
        font-size: 2.5em;
    }
    .font-15{
        font-size: 1em;
    }
    .hop-mania-advantege{
        flex-direction: column;
        align-items: center;
    }
    .hop-mania-info{
        width: 85%;
        margin-bottom: 2%;
    }
    .hop-mania-info:first-of-type{
        margin: 0 3% 2% 3%;
    }
    .hop-mania-info p{
        font-size: 0.9em;
    }
    button{
        border-width: 3px!important;
    }
    button p{
        font-size: .9em !important;
    }
    .telephone{
        font-size: 1.7em!important;
    }
    .footer{
        font-size: 0.8em;
    }
}