.menu-button-wrapper{
    display: none;
    z-index: 99;
}
#responsive-menu{
    display: none;
}
@media only screen and (max-width: 810px) {
    .menu-button-wrapper{
        display: flex;
        position: fixed;
        top:5%;
        right: 5%;
        align-items: flex-end;
    }
    .menu-bar{
        height: 3px;
        background-image: linear-gradient(to right,#45C8FF,#cdcd1c);
        margin-bottom: 6px;
    }
    .short-bar{
        width:10px;
    }
    .medium-bar{
        width:20px;
    }
    .long-bar{
        width:30px;
    }
    .rotate-third-bar{
        transform-origin: left top;
        transform: rotate(-45deg);
    }
    .rotate-second-bar{
        transform-origin: center top;
        transform: rotate(-45deg);
    }
    .rotate-first-bar{
        transform-origin: bottom left;
        transform: rotate(45deg);
    }
    .mobile-menu{
        position: fixed;
        height: 100%;
        top:0;
        left:0;
        width: 100vw;
        display: flex !important;
        background-image: linear-gradient(to bottom,#a42256b0,#473174b0);
    }
    .mobile-menu-height{
        height: 100vh;
        transition: 0.3s;
    }
}