.menu-button-wrapper{
    display: none;
    z-index: 99;
}
#responsive-menu{
        position: fixed;
        height: 100%;
        width: 100%;
        top:0;
        left:0;
        opacity: 1;
        overflow-x: hidden;
        transition: ease 0.5s all;
        background-image: linear-gradient(to bottom,#a42256ee,#473174ee);
        transform: translateY(-105%);
}
@media only screen and (max-width: 810px) {
    .menu-button-wrapper{
        display: flex;
        position: fixed;
        top:5%;
        right: 5%;
        align-items: flex-end;
    }
    .menu-bar{
        height: 3px;
        background-image: linear-gradient(to right,#45C8FF,#cdcd1c);
        margin-bottom: 6px;
    }
    .short-bar{
        width:10px;
    }
    .medium-bar{
        width:20px;
    }
    .long-bar{
        width:30px;
    }
    .mobile-menu{
        transform: translateY(0%) !important;
        opacity: 1 !important;
    }
    .close-menu-bar{
        position: absolute;
        width: 3px;
        height: 30px;
        background-image: linear-gradient(to bottom,#45C8FF,#cdcd1c);
        transform: rotate(45deg);
    }
    .close-menu-bar:first-of-type{
        transform: rotate(-45deg);
    }
    .close-menu-bar:hover{
        cursor:pointer;
    }
    .close-menu-wrapper{
        
        padding-bottom: 20%;
    }
}