.attraction-image{
    height: 300px;
    width:300px;
    border-radius: 100%;
    box-shadow: 6px 6px 0px 2px #0000003b;
}
.attraction-wrapper{
    margin:2% 3%;
    width:70%;
    align-items: center;
}
.attraction-font{
    width:60%
}

@media only screen and (max-width: 810px) {
    .attraction-image{
        height: 10em;
        width:10em;
    }
    .attraction-wrapper{
        width:100%;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .attraction-wrapper p{
        margin-top: 2%;
    }
    .font-26{
        font-size: 1em !important;
    }
}