.attraction-image{
    height: 300px;
    width:300px;
    border-radius: 100%;
    box-shadow: 6px 6px 0px 2px #0000003b;
}
.attraction-wrapper{
    margin:2% 3%;
    width:70%;
    align-items: center;
}
.attraction-font{
    width:60%
}