*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* flex */
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-justify-around{
  justify-content: space-around;
}

/* colors */
.background{
  background-image: linear-gradient(to bottom,#473174, #A42257 );
}

/* size */
.w-100{
  width: 100vw;
}
.h-100{
  height: 100vh;
}