*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #322350;
  overflow-x: hidden;
}
a{
  color: #fff;
  text-decoration: none;
}
/* fonts */
@font-face {
  font-family: 'ComingSoon';
  src: url('./assets/fonts/ComingSoon-Regular.ttf');
}
.font-coming{
  font-family: 'ComingSoon';
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}
.font-montserrat-medium{
  font-family: 'Montserrat-Medium';
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('./assets/fonts/Montserrat-SemiBold.ttf');
}
.font-montserrat-regular{
  font-family: 'Montserrat-Regular';
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}
.font-montserrat-semi-bold{
  font-family: 'Montserrat-SemiBold';
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('./assets/fonts/Lato-Bold.ttf');
}
.font-lato-bold{
  font-family: 'Lato-Bold';
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('./assets/fonts/Lato-Regular.ttf');
}
.font-lato-regular{
  font-family: 'Lato-Regular';
}
.font-82{
  font-size: 82px;
}
.font-64{
  font-size: 64px;
}
.font-38{
  font-size: 38px;
}
.font-32{
  font-size: 32px;
}
.font-26{
  font-size: 26px;
}
.font-20{
  font-size: 20px;
}
.font-18{
  font-size: 18px;
}
.font-15{
  font-size: 15px;
}
.font-white{
  color: white;
}
.font-black{
  color: black !important;
}
.font-yellow{
  color: #cdcc1c !important;
}
.font-violet{
  color: #473174 !important;
}
.font-blue{
  color: #45C8FF !important;
}
/* text */
.text-upper{
  text-transform: uppercase;
}
.text-small-caps{
  font-variant: small-caps;
}
.text-center{
  text-align: center;
}
.text-wrap{
  word-wrap: break-word;
}
/* flex */
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-row-reverse{
  display: flex;
  flex-direction: row-reverse;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-justify-around{
  justify-content: space-around;
}
.flex-justify-btwn{
  justify-content: space-between;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-end{
  display: flex;
  justify-content: flex-end;
}
.flex-items-center{
  align-items: center;
}

/* colors */
.background{
  background-image: linear-gradient(to bottom,#473174, #A42257 );
}
.shadow{
  box-shadow: 4px 0 4px 0 rgba(0, 0, 0,0.25);
}
.text-shadow{
  text-shadow: 0 2px rgba(0, 0, 0,0.25);
}
/* size */
.w-100{
  width: 100vw;
}
.w-80{
  width: 80vw;
}
.w-70{
  width: 70vw;
}
.w-50{
  width: 50vw;
}
.w-33{
  width: 33vw;
}
.w-30{
  width: 30vw;
}
.h-100{
  height: 100vh;
}
.h-minc{
  height: min-content;
}
.h-95{
  height: 95vh;
}
.h-90{
  height: 90vh;
}
.h-80{
  height: 80vh;
}
.h-60{
  height: 60vh;
}
.h-30{
  height: 30vh;
}
.h-20{
  height: 20vh;
}
.h-15{
  height: 15vh;
}
.h-10{
  height: 10vh;
}
.h-5{
  height: 5vh;
}
.h-min{
  height: fit-content;
}
/* padding & margin */
.m-title{
  margin:3px;
}
.p-1{
  padding: 1%;
}
.p-2{
  padding: 2%;
}
.p-3{
  padding: 3%;
}
.p-30updwn{
  padding: 30% 0;
}
.p-5up{
  padding: 5% 0 0 0;
}
.m-0{
  margin: 0;
}
.m-m2{
  margin: 0 auto -2% auto;
}
.m-1updwn{
  margin: 1% 0;
}
.m-1{
  margin: 1%;
}
.m-2{
  margin: 2%;
}
.m-2updwn{
  margin: 2% 0;
}
.m-3updwn{
  margin: 3% 0;
}
.m-3up{
  margin: 3% 0 0 0;
}
.m-3lftrght{
  margin: 0 3%;
}
.m-3{
  margin: 3%;
}
/* other */
.hidden{
  display: none !important;
}
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
}
.visible{ 
  display: flex !important;
  opacity: 1 !important;
}
.overflow{
  overflow: hidden;
}
.display{
  display: none !important;
}
/* buttons */
.button{
  border:none;
  box-shadow: 4px 0 4px 0 rgba(0, 0, 0,0.25);
  border-radius: 10px;
  width: 60%;
}
/* resposnive 1366 */
@media only screen and (max-width: 1366px) {
  
.font-82{
  font-size: calc(82px * 0.8);
}
.font-64{
  font-size: calc(64px * 0.8);
}
.font-38{
  font-size: calc(38px * 0.8);
}
.font-32{
  font-size: calc(32px * 0.8);
}
.font-26{
  font-size: calc(26px * 0.8);
}
.font-20{
  font-size: calc(20px * 0.8);
}
.font-18{
  font-size: calc(18px * 0.8);
}
.font-15{
  font-size: calc(15px * 0.8);
}
}
/* resposive 375 */
@media only screen and (max-width: 428px) {
   
.font-82{
  font-size: calc(82px * 0.5);
}
.font-64{
  font-size: calc(64px * 0.5);
}
.font-38{
  font-size: calc(38px * 0.5);
}
.font-32{
  font-size: calc(32px * 0.5);
}
.font-26{
  font-size: calc(26px * 0.5);
}
.font-20{
  font-size: calc(20px * 0.5);
}
.font-18{
  font-size: calc(18px * 0.5);
}
.font-15{
  font-size: calc(15px * 0.6);
}
  .background-hero{
    flex-direction: column !important;
    height: 100vh;
  }
  .hero-buttons{
    width:100vw;
    height: 50vh;
    justify-content: flex-start;
    align-items: center;
  }
  .hero-title{
    width:100vw;
    height: 50vh;
  }
  .background-navbar{
    display: none;
  }
}
  