.hero-image{
    background-image: url('../../assets/img/hero-image.jpg');
    background-size: cover;
}
.bar{
    height: 100%;
    width: 1%;
    background-image: linear-gradient(to bottom,#473174, #6b2b68 );
    margin:0 4.5%;
}
.home-image{
    height: 40vh;
    background-image:url('../../assets/img/main-image-1.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.hopmania-wrapper{
    background-image:url('../../assets/img/hopmania-image.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.hopmania-inner-wrapper{
    background-color: rgba(255, 255, 255, 0.5);
    height: 50%;
    width: 60%;
    border-radius: 20px;
    padding:2% 5%;
}
.hopmania-button{
    background-color: #FF3E3E;
    border-radius: 10px;
    border:none;
    align-self: center;
}
.hopmania-button:hover{
    cursor: pointer;
}
  .button:hover{
    cursor: pointer;
  }
  .button-first:hover{
    background-color: #473174;
    border: #473174 1px solid;
    transition: all .5s;
  }
  .button-second:hover{
    background-color: #bdbd28;
    border: #cdcd1c 1px solid;
    transition: linear .5s;
  }
  .button-first{
    background-color: #4731747e;
    border:2px solid #473174;
    width:80%;
    border-radius: 0;
  }
  .button-second{
    background-color: #cdcd1c7e;
    border:2px solid #cdcd1c;
    width:80%;
    border-radius: 0;
  }
  /* resposive 375 */
  @media only screen and (max-width: 375px) {
    .info-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .categories-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
    }
    .db-category{
      width: 100%;
    }
    .hopmania-inner-wrapper{
      width: 90%;
    }
  }