.hero-image{
    background-image: url('../../assets/img/hero-image.jpg');
    background-size: cover;
}
.bar{
    height: 100%;
    width: 1%;
    background-image: linear-gradient(to bottom,#473174, #6b2b68 );
    margin:0 4.5%;
}
.home-image{
    height: 40vh;
    background-image:url('../../assets/img/main-image-1.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.hopmania-wrapper{
    background-image:url('../../assets/img/hopmania-image.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.hopmania-inner-wrapper{
    background-color: rgba(255, 255, 255, 0.5);
    height: 50%;
    width: 60%;
    border-radius: 20px;
    padding:2% 5%;
}
.hopmania-button{
    background-color: #FF3E3E;
    border-radius: 10px;
    border:none;
    align-self: center;
}
.hopmania-button:hover{
    cursor: pointer;
}

.button p{
    text-transform: uppercase;
    color: white;
    font-weight: 600;
  }
  .button:hover{
    cursor: pointer;
  }
  .button-first:hover{
    background-color: #473174;
    border: #CDCC1C 1px solid;
    transition: all .5s;
  }
  .button-second:hover{
    background-color: #473174;
    border: #473174 1px solid;
    transition: linear .5s;
  }
  .button-first{
    background-color: #CDCC1C;
    border:none;
    width:80%;
  }
  .button-second{
    background-color: #473174;
    border:none;
    width:80%;
  }